{%  extends 'base.html' %}
{% block login %}
    <div>
        <p>Errors should be here:  {{ form.errors }}</p>
        <form action="/auth/signup/" method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username"/>
            <br/>
            <label for="password1">Password</label>
            <input type="password" name="password1"/>
            <label for="password2">Password again</label>
            <input type="password" name="password2"/>
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input class="btn btn-success" type="submit" value="Enter"/>
        </form>
    </div>
{% endblock %}